#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 400px;
  height: 590px;

  background-color: black;
}
.btn-C {
  width: 195px;
  height: 100px;
  background: #d8d9db;
}

.btn-gray {
  width: 95px;
  height: 100px;
  background: #d8d9db;
}

.btn-orange {
  width: 95px;
  height: 100px;
  background: orange;
}

.btn-0 {
  width: 295px;
  height: 100px;
  background: #d8d9db;
}

.empty-row {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: xx-large;
  width: 400px;
  height: 75px;
  padding: 10px;
}

.top-row {
  width: 400px;
  height: 100px;
  margin: 0;
}

.second-row {
  width: 400px;
  height: 100px;
  margin: 0;
}

.third-row {
  width: 400px;
  height: 100px;
}

.fourth-row {
  width: 400px;
  height: 100px;
}

.bottom-row {
  width: 400px;
  height: 100px;
}
